body {
  margin: 0px;
  
}

canvas {
  background-image:url("https://e0.pxfuel.com/wallpapers/343/772/desktop-wallpaper-dragon-ball-z-namek-background-gallery-dragon-ball-scenery.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

img {
  display: none;
}
